<h1>Welcome to Red Jaguar</h1>
<h2>Pick a Genre</h2>
<div id="genre-pick">Pop Culture</div>
<div id="genre-pick">Tech</div>
<div id="genre-pick">Music</div>
<div id="genre-pick">Science</div>

<div id="content_holder">
<% i = 0 %>
<% @boards.each do |board|  %>

<div id="content_<%= i %>">
<a href="<%=board_path(board)%>"><%=board.name%></a>
<%i += 1%>
</div>
<% end %>



</div>



